head {
    text-decoration-color: darkturquoise;
}
.page-wrapper {
  display: flex;
  justify-content: space-between;
}
.left-panel-wrapper {
  /*width: 1500px;*/
  height: 530px;
  background-color: lavenderblush;
}
.right-panel-wrapper {
  /*width: 1500px;*/
  height: 530px;
  background-color: lavenderblush;
}
div.center-panel-wrapper {
  /*padding: 0 30px;*/
  width: 155px;
  /*height: 10em;*/
  position: relative; 
  /*padding: 0 30px;*/
  /*padding: 0 30px;*/
}
button {
  width: 120px;
  background-color: yellow;
    border-color: darkorange;
  margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
}